/* #clock {
    font-size: 60px;
    color: white;
    background-color: black;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   */


   .clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#clock {
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px black;
}
